.idea/
.DS_Store
node_modules/
datadir/
build
accountsConfig.json
configurationFiles/proxyAddresses.json
configurationFiles/contractNamesToProxyAddresses.json
.vscode
solcoutput/
contracts.ts
2key-protocol/src/contracts/
geth/mainnet/passwords.txt
deploy.json
.env-slack
tenderly.yaml
