[submodule "build/sol-interface"]
	path = build/sol-interface
	url = git@github.com:2key/sol-interface.git
[submodule "2key-protocol"]
	path = 2key-protocol
	url = git@github.com:2key/2key-protocol.git
[submodule "build/2key-protocol"]
	path = build/2key-protocol
	url = git@github.com:2key/2key-protocol.git
[submodule "build/2key-protocol-npm"]
	path = build/2key-protocol-npm
	url = git@github.com:2key/2key-protocol.git
[submodule "2key-protocol-npm"]
	path = 2key-protocol-npm
	url = git@github.com:2key/2key-protocol.git
