[submodule "2key-protocol/dist"]
	path = 2key-protocol/dist
	url = git@github.com:2key/2key-protocol.git
[submodule "2key-protocol-versions"]
	path = 2key-protocol-versions
	url = git@github.com:2key/2key-protocol-versions.git
[submodule "2key-protocol-code"]
	path = 2key-protocol-code
	url = https://github.com/2key/2key-protocol-code.git
