/* your custom css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html, a, input, textarea {
  font-family: 'Open Sans', sans-serif;
}
.fixedHeaderContainer {
  background: white;
  color: black;
}

.fixedHeaderContainer a {
  height:50px;
  color: black;

}

.navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: black;
  background:white;
}

.navigationSlider .slidingNav ul li a {
  color: black;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}